### Connecting to a Database

In [1]:
# Installing mysqlconnector

# Anaconda Prompt : pip install mysql-connector-python

# Inside File : below

# Pip is a package manager in Python. Installing the MySQL connector ensures your code can connect to a MySQL database.

!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.0.0-cp312-cp312-win_amd64.whl.metadata (2.0 kB)
Downloading mysql_connector_python-9.0.0-cp312-cp312-win_amd64.whl (14.3 MB)
   ---------------------------------------- 0.0/14.3 MB ? eta -:--:--
   ---------------------------------------- 0.0/14.3 MB ? eta -:--:--
   ---------------------------------------- 0.0/14.3 MB 330.3 kB/s eta 0:00:44
   ---------------------------------------- 0.1/14.3 MB 550.5 kB/s eta 0:00:26
    --------------------------------------- 0.2/14.3 MB 1.4 MB/s eta 0:00:10
   - -------------------------------------- 0.4/14.3 MB 2.2 MB/s eta 0:00:07
   - -------------------------------------- 0.6/14.3 MB 2.5 MB/s eta 0:00:06
   -- ------------------------------------- 0.8/14.3 MB 2.8 MB/s eta 0:00:05
   -- ------------------------------------- 1.0/14.3 MB 2.8 MB/s eta 0:00:05
   --- ------------------------------------ 1.2/14.3 MB 3.0 MB/s eta 0:00:05
   --- ------------------------------------ 1.4/14.3 MB 3.2 MB/s eta 0:00:05
   ---- ----------------------------------- 1.6/14.3 MB 3.4 MB/s eta 0:00:04
   ----- ---------------------------------- 1.8/14.3 MB 3.5 MB/s eta 0:00:04
   ----- ---------------------------------- 2.0/14.3 MB 3.6 MB/s eta 0:00:04
   ------ --------------------------------- 2.2/14.3 MB 3.7 MB/s eta 0:00:04
   ------ --------------------------------- 2.4/14.3 MB 3.7 MB/s eta 0:00:04
   ------- -------------------------------- 2.7/14.3 MB 3.8 MB/s eta 0:00:04
   ------- -------------------------------- 2.9/14.3 MB 3.9 MB/s eta 0:00:03
   -------- ------------------------------- 3.1/14.3 MB 3.9 MB/s eta 0:00:03
   -------- ------------------------------- 3.2/14.3 MB 3.9 MB/s eta 0:00:03
   --------- ------------------------------ 3.5/14.3 MB 3.9 MB/s eta 0:00:03
   ---------- ----------------------------- 3.8/14.3 MB 4.0 MB/s eta 0:00:03
   ----------- ---------------------------- 4.0/14.3 MB 4.0 MB/s eta 0:00:03
   ----------- ---------------------------- 4.2/14.3 MB 4.1 MB/s eta 0:00:03
   ------------ --------------------------- 4.5/14.3 MB 4.1 MB/s eta 0:00:03
   ------------- -------------------------- 4.7/14.3 MB 4.2 MB/s eta 0:00:03
   ------------- -------------------------- 5.0/14.3 MB 4.2 MB/s eta 0:00:03
   -------------- ------------------------- 5.2/14.3 MB 4.2 MB/s eta 0:00:03
   --------------- ------------------------ 5.4/14.3 MB 4.3 MB/s eta 0:00:03
   --------------- ------------------------ 5.6/14.3 MB 4.3 MB/s eta 0:00:03
   ---------------- ----------------------- 5.9/14.3 MB 4.3 MB/s eta 0:00:02
   ----------------- ---------------------- 6.2/14.3 MB 4.4 MB/s eta 0:00:02
   ----------------- ---------------------- 6.4/14.3 MB 4.4 MB/s eta 0:00:02
   ------------------ --------------------- 6.6/14.3 MB 4.5 MB/s eta 0:00:02
   ------------------- -------------------- 6.9/14.3 MB 4.4 MB/s eta 0:00:02
   ------------------- -------------------- 7.1/14.3 MB 4.5 MB/s eta 0:00:02
   -------------------- ------------------- 7.3/14.3 MB 4.5 MB/s eta 0:00:02
   -------------------- ------------------- 7.5/14.3 MB 4.5 MB/s eta 0:00:02
   --------------------- ------------------ 7.9/14.3 MB 4.6 MB/s eta 0:00:02
   ---------------------- ----------------- 8.1/14.3 MB 4.6 MB/s eta 0:00:02
   ----------------------- ---------------- 8.4/14.3 MB 4.6 MB/s eta 0:00:02
   ------------------------ --------------- 8.6/14.3 MB 4.6 MB/s eta 0:00:02
   ------------------------ --------------- 8.9/14.3 MB 4.7 MB/s eta 0:00:02
   ------------------------- -------------- 9.2/14.3 MB 4.7 MB/s eta 0:00:02
   -------------------------- ------------- 9.4/14.3 MB 4.7 MB/s eta 0:00:02
   -------------------------- ------------- 9.6/14.3 MB 4.7 MB/s eta 0:00:01
   --------------------------- ------------ 9.8/14.3 MB 4.7 MB/s eta 0:00:01
   ---------------------------- ----------- 10.0/14.3 MB 4.7 MB/s eta 0:00:01
   ---------------------------- ----------- 10.3/14.3 MB 4.9 MB/s eta 0:00:01
   ----------------------------- ---------- 10.5/14.3 MB 4.9 MB/s eta 0:00:01
   ----------------------------- ---------- 10.7/14.3 MB 5.0 MB/s eta 0:00:01
   ------------------------------ --------- 10.8/14.3 MB 4.9 MB/s eta 0:00:01
   ------------------------------ --------- 11.1/14.3 MB 4.9 MB/s eta 0:00:01
   ------------------------------- -------- 11.4/14.3 MB 5.0 MB/s eta 0:00:01
   -------------------------------- ------- 11.7/14.3 MB 5.0 MB/s eta 0:00:01
   --------------------------------- ------ 11.9/14.3 MB 5.1 MB/s eta 0:00:01
   ---------------------------------- ----- 12.2/14.3 MB 5.1 MB/s eta 0:00:01
   ---------------------------------- ----- 12.5/14.3 MB 5.2 MB/s eta 0:00:01
   ----------------------------------- ---- 12.8/14.3 MB 5.2 MB/s eta 0:00:01
   ------------------------------------ --- 13.1/14.3 MB 5.3 MB/s eta 0:00:01
   ------------------------------------- -- 13.4/14.3 MB 5.3 MB/s eta 0:00:01
   -------------------------------------- - 13.7/14.3 MB 5.3 MB/s eta 0:00:01
   ---------------------------------------  14.0/14.3 MB 5.4 MB/s eta 0:00:01
   ---------------------------------------  14.3/14.3 MB 5.4 MB/s eta 0:00:01
   ---------------------------------------- 14.3/14.3 MB 5.3 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.0.0

In [7]:
# These imports are necessary because they allow us to work with data (via pandas) and connect to a database (via mysql.connector).

import pandas as pd
import mysql.connector

In [8]:
# The mysql.connector.connect() function helps us establish a connection with the database by providing the necessary credentials and details.

# Key Parameters:

# host: Location of the database server. In this case, itâ€™s 'localhost' (the local computer).
# user: Your MySQL username. Here, it is 'root'.
# password: Password associated with the user (e.g., 'Theadora#1995').
# database: The name of the database we want to access (in this example, 'parks_and_recreation').


connect = mysql.connector.connect(
host = 'localhost',
user = 'root',
password = 'Theadora#1995',
database = 'parks_and_recreation'
)

In [11]:
# SQL (Structured Query Language) is used to interact with databases.
# The query 'SELECT * FROM parks_and_recreation.employee_demographics' retrieves all rows and columns from the employee_demographics table.

query = 'SELECT * FROM parks_and_recreation.employee_demographics'

In [12]:
# The pandas.read_sql() function reads SQL query results directly into a DataFrame (a table-like structure in pandas).
# Warning: A message appears in the code output, suggesting that using SQLAlchemy for database connections might be more reliable in the future, but the code still works for now.

pd.read_sql(query, connect)

C:\Users\hunte\AppData\Local\Temp\ipykernel_13968\3034383182.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql(query, connect)

    employee_id first_name     last_name  age  gender  birth_date
0             1     Leslie         Knope   44  Female  1979-09-25
1             3        Tom     Haverford   36    Male  1987-03-04
2             4      April       Ludgate   29  Female  1994-03-27
3             5      Jerry       Gergich   61    Male  1962-08-28
4             6      Donna        Meagle   46  Female  1977-07-30
5             7        Ann       Perkins   35  Female  1988-12-01
6             8      Chris       Traeger   43    Male  1980-11-11
7             9        Ben         Wyatt   38    Male  1985-07-26
8            10       Andy         Dwyer   34    Male  1989-03-25
9            11       Mark  Brendanawicz   40    Male  1983-06-14
10           12      Craig  Middlebrooks   37    Male  1986-07-27

In [14]:
# It is important to close the connection to free up resources and ensure there are no lingering open connections that could cause issues.

connect.close()