### Pandas DataFrames

In [1]:
import pandas as pd

In [3]:
index_values = ['Best','Second Best', 'Third Best']
my_list = [10,25,35]

one = pd.Series(data = my_list, index = index_values)
one

Best           10
Second Best    25
Third Best     35
dtype: int64

In [4]:
index_values2 = ['Best','Second Best', 'Fourth Best']
my_list2 = [10,25,40]

two = pd.Series(data = my_list2, index = index_values2)
two

Best           10
Second Best    25
Fourth Best    40
dtype: int64

In [5]:
dataframe = pd.DataFrame({'Series 1': one,'Series 2': two})

In [7]:
print(dataframe)

             Series 1  Series 2
Best             10.0      10.0
Fourth Best       NaN      40.0
Second Best      25.0      25.0
Third Best       35.0       NaN

In [8]:
dataframe

             Series 1  Series 2
Best             10.0      10.0
Fourth Best       NaN      40.0
Second Best      25.0      25.0
Third Best       35.0       NaN

In [9]:
ice_cream = [['MCC',1],['Butterscotch',2],['Butter Pecan',3]]

In [12]:
pd.DataFrame(ice_cream)

              0  1
0           MCC  1
1  Butterscotch  2
2  Butter Pecan  3

In [11]:
pd.DataFrame(ice_cream, columns = ('Flavor','Scoops'))

         Flavor  Scoops
0           MCC       1
1  Butterscotch       2
2  Butter Pecan       3

In [10]:
pd.DataFrame(ice_cream, index = ['Flavor 1','Flavor 2','Flavor 3'], columns = ('Flavor','Scoops'))

                Flavor  Scoops
Flavor 1           MCC       1
Flavor 2  Butterscotch       2
Flavor 3  Butter Pecan       3